@import url('../fonts/Pokemon\ Hollow.ttf');
@import url('../fonts/Pokemon\ Solid.ttf');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('https://images.unsplash.com/photo-1613771404721-1f92d799e49f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    margin: 10px auto;
    padding: 10px 50px;
    width: 80%;
    max-width: 800px;
    background-color: rgba(145, 11, 11, 0.767);
    border-radius: 10px;
}
h1{
    text-align: center;
    font-family:Pokemon Solid, Geneva, Tahoma, sans-serif;
    color: rgb(207, 207, 9);
    font-size: 2.4em;
    letter-spacing: 5px;
}
h3{
    color: rgb(220, 222, 238);
    font-weight: bold;
}
.pokedex{
    display: flex;
    align-items: center;
    flex-direction: column;
}
img{
    width: 200px;
    display: inline-block;
    padding: 20px 130px;
    background: linear-gradient(208deg, rgba(0,15,36,1) 0%, rgba(50,45,221,0.896796218487395) 28%, rgba(0,212,255,1) 54%, rgba(7,69,82,1) 81%);
    border-radius: 5px;
    border: 3px solid rgb(179, 179, 9);
}
#name{
    margin: 10px;
    padding: 5px 20px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(4, 8, 36);
    border:1px solid rgb(121, 121, 12);
}
#type{
    margin: 10px;
    padding: 5px 20px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(4, 8, 36);
    border:1px solid rgb(121, 121, 12);
}
.listas{
    margin:35px auto;
    padding: 10px 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-family: 'Jura', sans-serif;
    font-size: 1em;
    color: rgb(240, 237, 87);
    border: 1px solid rgb(240, 237, 87);
}
.listas li{
    list-style: none;
}
.listas li span{
    color: rgb(230, 226, 10);
    font-size: 1.05em;
}
.search{
    width: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}
input{
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
button{
    padding: 10px 20px;
    color: #fff;
    font-family: 'Jura', sans-serif;
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 5px;
}
@media(max-width: 650px) {
    .listas{
        flex-direction: column;
        align-items: center;
    }
    .listas ul{
        margin-top: 10px;
    }
}
@media(max-width: 500px){
    body{
        font-size: 12px;
    }
    img{
        padding: 10px 65px;
    }
}